name: Publish Package to npmjs
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish [<newversion> | major | minor | patch ]'
        required: true
        default: 'patch'

jobs:
  publish-to-npmjs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - name: Clean installation
        run: npm ci
      - name: Create new version
        run: npm version ${{ github.event.inputs.version }}
      - name: Publish to npmjs
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Commit the new version
        run:  git push origin main
